body {
  background-color: #ffffff;
  color: #c98a0c;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: .1em;
  margin: 0;
}

ul {
  border-top: thin solid #eeeeee;
  border-bottom: thin solid #eeeeee;
  list-style-type: none;
  line-height: 1.5em;
  color: #bbbbbb;
  margin:0;
}

li{
  margin-bottom: .25em;
}

#container {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }

#description {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.top-row{
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}

#rules {
  border: 0;
  background: #dddddd;
  color: #ffffff;
}

#chooseStack {
  border: 0;
  background: #c98a0c;
  color: #ffffff;
}

/* Dropdown button on hover & focus */
#chooseStack:hover, #chooseStack:focus {
    background-color: #967024;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

#entry{
  background-color: #f7e0af;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5em;
  margin: 0;
  padding: .75em 0;
}

#definition{
  display: none;
  background-color: #f7e0af;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: .75em;
}
p#score, p#timer {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

input#pass, input#correct{
  padding: 0;
  width: 15em;
}

.pass-correct {
  display: none;
  margin: 1em 0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}