body{
  background: #eeeeee;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: 0;
}


#container {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

#entry{
  background-color: #f7e0af;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  margin: 0;
  padding: .75em 0;
}

#definition{
  background-color: #f2eac1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75em;
  font-style: italic;
  margin: 0;
  padding: .75em;
}